extends ../layout

block content
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') tipo
                th(scope='col') marca
                th(scope='col') frecuencia
                th(scope='col') ubicacion
                th(scope='col') Actualizar
                th(scope='col') Eliminar
        tbody
            each component in components
                tr
                    th(scope='row')= component.code
                    td= component.tipo
                    td= component.marca
                    td= component.frecuencia
                    td= component.ubicacion
                    td
                        a(href="components/update/" + component.code)
                            button.btn ACTUALIZAR
                    td
                        form.inline(action="components/remove/" + component.code, method="post")
                            input(type="hidden" name="code" value= component.code)
                            button.btn(type="submit") ELIMINAR
    a(href="/components/create")
        button.btn.btn-primary Nuevo