extends ../layout

block content
    a(href="/components") Volver

    br
    br
    br

    h1 Actializar componente

    br
    br

    form(action="/components/update/" + component.code, method="post")
        label(for='code') Codigo:
        input#code(type="text" name="code" value=component.code)
        br
        label(for='tipo') Tipo:
        input#tipo(type="text" name="tipo" value=component.tipo)
        br
        label(for='marca') Marca:
        input#marca(type="text" name="marca" value=component.marca)
        br
        label(for='frecuencia') Frecuencia:
        input#frecuencia(type="text" name="frecuencia" value=component.frecuencia)
        br
        br
        label(for='latitud') Latitud:
        input#frecuencia(type="text" name="latitud" value=component.ubicacion[0])
        br
        br
        label(for='longitud') Longitud:
        input#frecuencia(type="text" name="longitud" value=component.ubicacion[1])
        br
        br
        input.btn(type="submit", value="MODIFICAR")