extends ../layout

block content
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') tipo
                th(scope='col') marca
                th(scope='col') frecuencia
        tbody
            each component in components
                tr
                    th(scope='row')= component.id
                    td= component.tipo
                    td= component.marca
                    td= component.frecuencia
                    td= component.ubicacion
                    td
                        a(href="components/update/" + component.id)
                            button.btn ACTUALIZAR
                    td
                        form.inline(action="components/remove/" + component.id, method="post")
                            input(type="hidden" name="id" value= component.id)
                            button.btn(type="submit") ELIMINAR
    a(href="/components/create")
        button.btn.btn-primary Nuevo